@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #000000;
  --accent: #fa8320;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #fafafa;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-open-sans), sans-serif;
  --font-serif: var(--font-source-serif), serif;
}
