@import "tailwindcss";

@theme {
  --font-open-sans: var(--font-open-sans);
  --font-source-serif: var(--font-source-serif);
  --color-blue-500: #21409a;
  --color-red-500: #be1e2d;
  --color-yellow-500: #ffde17;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
